<div class="container bg">

		<div class="nav-holder">
			<!-- User Bar -->
			<div class="user-bar">
				<img class="dashboard-logo" src="/assets/img/logo.svg" alt="logo">
				<h4 class="dashboard-dog-name"><span id="my-dog-name-dashboard"></span><br><span id="my-dog-status-dashboard"></span></h4>
				<img class="dashboard-img dashboard-user-dog" src="#" alt="logo">
			</div>

			<!-- Comment Form -->
            <div class="comment-holder">
                <div class="comment-input-holder">
                    <input class="comment-input" type="text" placeholder="What's on your dog's mind?"  name="comment">
                </div>
                <div class="comment-submit" id="commentSubmit">
                        UPDATE
                    </div>
            </div>
			<div class="shadow"></div>
		</div>
		
		<!-- Location Holder -->
		<div class="current-location-holder">
			<h3 class="current-location">AT BOOTCAMP</h3>
		</div>

		<!-- Map Holder -->
		<div class="map">
			<a href="/dashboard"><img src="/assets/img/purple-doghouse.svg" class="location doghouse-marker"></a>
			<a href="/como"><img src="/assets/img/purple-marker.svg"  class="location como-marker"></a>
			<a href="/minnehaha"><img src="/assets/img/purple-marker.svg" class="location minnehaha-marker"></a>
			<a href="/bootcamp"><img src="/assets/img/orange-marker.svg"class="location bootcamp-marker"></a>
		</div>
		
		<!-- Dog Holder -->
		<div class="dog-holder">
			<div class="checkin-status">
				<div  style="height: 5px" class="spacer"></div>
				<button id="bootcampSubmit" type="button" class="btn btn-primary checkin-button checked-in-location">Check-in</button>
				<div style="height: 5px" class="spacer"></div>
			</div>

			<div class="dog-list-holder row">
				<div class="col">
					<table class="table">
						<tbody>
							{{#each dogs}}
							{{#contains this.dataValues.park_at "Bootcamp Dog Park"}}
							<tr>
								<td><img class="table-img" src="{{this.dataValues.dog_photo_url}}" alt="logo"></td>
								<td><h4><span id="table-dog">{{this.dataValues.dog_name}}</span><br><span id="table-status">{{this.dataValues.dog_comment}}</span></h4></td>
							</tr>
							{{/contains}}
							{{/each}}
						</tbody>
					</table>
				</div>
				
			</div>
			
		</div>

	</div>