<style>
	body {
		background: #2cb71d !important;
	}
</style>

<div class="container bg">
		
		<!-- Icon -->
		<div class="row pt-3">
			<div class="col">
				<img class="logo" src="/assets/img/logo.svg">
			</div>
		</div>

		<!-- Headline -->
		<div class="row pt-3">
			<div class="col">
				<h1>Welcome to Pup Crawl</h1>
			</div>
		</div>

		<!-- Intro copy --> 
		<div class='index row pt-1'>
		   <div class='col'>
		      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
		   </div>
		</div>
		<!-- Intro graphic --> 
		<div class='index row pt-1'>
		   <div class='col'>
		   		<img class='intro-graphic' src='/assets/img/dogs-playing.svg' alt='logo'>
		   </div>
		</div>
		<!-- Button section --> 
		<div class='index row pt-2'>
		   <div class='col'>
		   	<a href="/signup"><button type='button' class='btn btn-primary signup'>Sign-up</button></a>
		   	<button type='button' class='btn btn-primary login'>Log In</button>
		   </div>
		</div>

	</div>