<style>
	body {
		background: #2cb71d !important;
	}
</style>

<div class="container bg">
		
		<!-- Icon -->
		<div class="row pt-3">
			<div class="col">
				<img class="logo" src="/assets/img/logo.svg" alt="logo">
			</div>
		</div>

		<!-- Headline -->
		<div class="row pt-3">
			<div class="col">
				<h1>Welcome to Pup Crawl</h1>
			</div>
		</div>

		<!-- Intro copy -->
		<div class="row pt-1">
			<div class="col">
				<p>Register your dog below to start finding out where other dogs are hanging out!</p>
			</div>
		</div>

		<!-- Collar graphic -->
		<div class="index row pt-1">
			<div class="col">
				<img class="collar-graphic" src="/assets/img/signup-collar-01.svg" alt="logo">
			</div>
		</div>

		<!-- Signup Form -->
		<div class="row pt-0">
			<div class="col">
				<div class="dog-tag">
					<div class="dog-tag-ring"></div>
					<input class="sign-up-input dogNameInput" type="text" name="dog_name" placeholder="Enter your dog's name">
					<input class="sign-up-input ownerNameInput" type="text" name="owner_name" placeholder="Enter your name">
					<label class="photo-label" for="dog_file" class="custom-file-upload">
					    <img class="photo-upload" src="/assets/img/dog-photo-grey.svg" alt="Upload a Photo">
					</label>
					<input id="dog_file" type="file"/>
					<img id="submit" class="sign-up-submit" src="/assets/img/go.svg">
				</div>
			</div>
		</div>

	</div>