/* App Colors */
/*
Main green: #2cb71d
Dark green: #158918
Orange: #d67216
Dark orange: #bf6216
Purple: #562696
Dark purple: #46217f
Light grey: #dbdbdb
Medium grey: #c6c6c6
Dark grey: #6d6d6d
*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6d6d6d;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #6d6d6d;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #6d6d6d;
}

.comment-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c6c6c6;
    opacity: 1; /* Firefox */
}

.comment-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c6c6c6;
}

.comment-input::-ms-input-placeholder { /* Microsoft Edge */
    color: #c6c6c6;
}

/* HTML Elements */

html {
	overflow-x: hidden;
}

body {
	background: #2cb71d;
}

h1, h2, h3, h4, p {
	padding: 0px 15px;
}

h1, h2, h3, h4, button {
	font-family: 'Archivo Black', sans-serif;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

p {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
}

button {
	border: none !important;
}

input {
	font-family: 'Montserrat', sans-serif;
	color: #dbdbdb;
	border-radius: 10px;
}

input:focus {
	/*color: #dbdbdb;*/
	border-radius: none;
	outline: none;
}

input[type="file"] {
    display: none;
}

tr td:nth-child(1) {
	width: 20%;
}

td h4 {
	text-align: left;
	position: relative;
	top: 14px;
	color: #6d6d6d;
}

.table td {
	border-top: 1px solid #c6c6c6;
}

/* Body Components */
.bg {
	min-height: 100vh;
	padding: 0;
	margin: 0;
	overflow-y: hidden;
}

.logo {
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

.intro-graphic {
	width: 100%;
	padding: 0 15px;
}

.signup {
	background: #562696;
	display: block;
	margin: 15px auto;
	font-size: 1.8em;
	padding: 15px 40px;
	border-radius: 15px;
	min-width: 250px;
}

.login {
	background: #d67216;
	display: block;
	margin: 0 auto;
	font-size: 1.8em;
	padding: 15px 40px;
	border-radius: 15px;
	min-width: 250px;
	transition: .25s;
}

/* Sign up section */
/*==============================================*/

.collar-graphic {
	width: 100%;
}

.dog-tag {
	width: 80%;
	background: #dbdbdb;
	min-height: 275px;
	border: 10px solid #6d6d6d;
	border-radius: 20px;
	padding: 10px;
	margin: 0 auto;
	display: block;
	position: relative;
	animation: hinge;
	animation-duration: 1s; 
}

.dog-tag-ring {
	height: 40px;
	width: 15%;
	background: #dbdbdb;
	border-radius: 50%;
	border:10px solid #6d6d6d;
	position: absolute;
	top: -35px;
	left: 42.5%;
	margin: 0 auto;
	display: block;
	animation: none; 
}

.sign-up-input {
	width: 100%;
    background: #c6c6c6;
    margin: 5px 0px;
    padding: 5px;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    color: #6d6d6d;
}

.photo-label {
	display: block;
}

.photo-upload {
	height: 115px;
	display: block;
	margin: 0 auto;
}

.sign-up-submit {
	width: 55px;
	background: #d67216;
	position: absolute;
	border-radius: 50%;
	bottom: 5px;
	right: 5px;
	display: none;
}

/* Dashboard section */
/*==============================================*/

.dashboard-body {
	background: #dbdbdb;
}

.nav-holder {
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 5000;
}

.user-bar {
	width: 100%;
	background: #2cb71d;
	/*min-height: 50px;*/
	position: relative;
	height: 65px;
}

.dashboard-img {
	height: 50px;
	width: 50px;
	object-fit: cover;
	border-radius: 50%;
	position: absolute;
	top: 7.5px;
}

.dashboard-logo {
	left: 15px;
	width: 50px;
	position: absolute;
	top: 7.5px;
}

.dashboard-dog-name {
	right: 75px;
	top: 10px;
	position: absolute;
	text-align: right;
}

.dashboard-user-dog {
	right: 15px;
}

#my-dog-status-dashboard {
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	position: relative;
	bottom: 12px;
}

.comment-holder {
	width: 100%;
	background: #dbdbdb;
}

.comment-input-holder {
	width: 70%;
	display: inline-block;
}

.comment-input {
	margin: 5px;
	width: 100%;
	border: none;
    padding: 5px 10px;
    color: #6d6d6d;
}

.comment-submit {
	background: #562696;
	padding: 3px;
	width: 26%;
	display: inline;
	color: white;
	font-family: 'Archivo Black', sans-serif;
	text-align: center;
	border-radius: 10px;
	float: right;
	margin-top: 7px;
	margin-right: 5px;

}

.shadow	{
	width: 100%;
	background: rgba(0,0,0,0.13);
	height: 3px;
}

.current-location-holder {
	background: #158918;
	padding-bottom: 1px;
	padding-top: 28%;
}

.current-location {
	padding: 35px 15px 25px 15px;
	/*background: pink;*/
}

.map {
	width: 100%;
	background: url(/assets/img/map-background-1200x770.jpg) center center no-repeat;
	background-color: #dbdbdb;
	background-size: cover;
	min-height: 200px;
	position: relative;
}

.location {
	height: 45px;
	position: absolute;
}

.como-marker {
	top: 15px;
	right: 40%;
}

.bootcamp-marker {
	top: 5px;
	right: 50%;
}

.minnehaha-marker {
	bottom: 20px;
	right: 50%;
}

.doghouse-marker {
	bottom: 10px;
	right: 10px;
}

.dog-holder {
	width: 100%;
}

.checkin-status {
	width: 100%;
	background: #6d6d6d;
	/*min-height: 50px;*/
}

.checkin-text {
	margin-bottom: 0px;
}

.checkin-button {
    display: block;
    margin: 5px auto;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 15px;
    min-width: 120px;
    transition: .25s;
}

.checked-in-doghouse {
	background: #c6c6c6;
}
.checked-in-location {
	background: #2cb71d;
}
.checked-in-location:active {
	background: #158918 !important;
}
.checked-in-location:focus {
	background: #158918 !important;
}
.checked-in-location:visited {
	background: #158918 !important;
}

.dog-list-holder {
	/*width: 100%;*/
}

.table-img {
	height: 75px;
	width: 75px;
	object-fit: cover;
	border-radius: 50%;
}

#table-status {
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	position: relative;
	bottom: 10px;
}

/* Animations */
/* ======================================= */

@keyframes hinge {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(3deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes offset {
	0% {
		transform: translateX(0px);
	}

	50% {
		transform: translateX(5px);
	}

	100% {
		transform: translateX(0px);
	}
}

